# tag for drupal boxes
ENV_NAME="{{ environment_name }}"

# Default MySQL target
DEFAULT_DBHOST="{{ db_host }}"
DEFAULT_DBPORT="{{ db_port }}"

# Writable dir on both local and souce hosts
TEMPDIR="{{ temp_dir }}"
