authtoken: {{ ngrok_authtoken }}
log_format: json
log_level: debug
log: /vagrant/ngrok.log
tunnels:
{% for site in sites %}
  {{ site }}-tls:
    hostname: {{ site }}.{{ httpd_dn_suffix }}
    proto: tls
    addr: 443
  {{ site }}-http:
    hostname: {{ site }}.{{ httpd_dn_suffix }}
    proto: http
    addr: 80
{% endfor %}
